<div class="sidebar">
  <ul class="platforms">
    <li><a href="/api/v1/test?platform=PS4">PS4</a></li>
    <li><a href="/api/v1/test?platform=PC">PC</a></li>
    <li><a href="/api/v1/test?platform=Switch">Switch</a></li>
    <li><a href="/api/v1/test?platform=Xbox">Xbox</a></li>
  </ul>
</div>
