<header class="header">
  <a href="" class="logo">gameshare</a>
  <nav>
    <input type="checkbox" for="toggle" class="visually-hidden" id="toggle" />
    <label for="toggle">menu</label>
    <div class="fuck">dog</div>

    <ul class="nav">
      <li>
        <a href="">Home</a>
      </li>
      <li><a href="">My Games</a></li>
      <li>
        <a href="">Browse</a
        ><img class="dropdown-arrow" src="/img/dropdown.svg" alt="" />
      </li>
      <li class="dropdown">
        <a href="">Community</a>
        <img class="dropdown-arrow" src="/img/dropdown.svg" alt="" />
        <ul>
          <li>One</li>
          <li>Two</li>
        </ul>
      </li>
      <li>
        <img src="/img/user.svg" alt="" />
      </li>
    </ul>
  </nav>
</header>
